/* 
green color : #16a085 
display: block; forces a line break
*/

/* ------------------------------- */
/* BASIC SETUP */
/* ------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px; /* 
                        base size of the fonts in the page 
                        later the font sizes in other elements will be scaled in %
                        so it can be responsive 
                     */
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* ------------------------------- */
/* REUSABLE COMPONENTS */
/* ------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;     /* the same as -> margin: 0 auto 0 auto; */
}

section{
    padding: 80px 0px;
}

.box{
    padding: 1%;
}

/* ----- HEADINGS ----- */
h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%; /* 200% of the font-size in html tag */
    word-spacing: 4px; 
    letter-spacing: 1px;
}

h1, h2, h3{
    font-weight: 300;
    text-transform: uppercase;  
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2::after{
    display: block;
    height: 2px;
    background-color: #16a085;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
}

/* ----- PARAGRAPHS ----- */
.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%; /* 100% - 70% of the width = 30%/2 = 15% */
}

.box p{
    font-size: 90%;
    line-height: 145%;
}

/* ----- ICONS ----- */
.icon-big{
    display: block;
    font-size: 350%;
    color: #16a085;
    margin-bottom: 10px;
}

/* ----- BUTTONS ----- */
.btn:link, /* the a element in normal state*/
.btn:visited /* the a element after clicked on the link */{ 
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none; /* deleting underline */
    border-radius: 200px;
    color: #fff;
    transition: background-color 0.2s, color 0.2s;
}


.btn-full:link,
.btn-full:visited{
    background-color: #16a085;
    border: 1px solid #16a085;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #16a085;
}


.btn:hover,
.btn:active{
    color: black;
    background-color: #107360;
}


/* ------------------------------- */
/* HEADER */
/* ------------------------------- */
header{
    /* first value in background image will be on the top of the next value  */
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-size: cover; /* want to see the whole image */
    background-position: center; /* centering the background */
    height: 100vh; /* means 100% of the viewport */
}


.hero-text-box{
    /* the text and two buttons inside the header */
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 10px;
}

.main-nav{
    margin-top: 60px;
    float: right;
    list-style: none; /* removing the bullet points */
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0; /* top-bottom left-right */
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 90%; /* 90% of 20px (font size in html tag above) */
    transition: border-bottom 0.2s;
    border-bottom: 2px solid transparent;
}

.main-nav li a:hover,
.main-nav li a:active{
    /* color: #16a085; */
    border-bottom: 2px solid #16a085;
}

/* ------------------------------- */
/* FEATURES */
/* ------------------------------- */
.section-features .long-copy{
    margin-bottom: 30px;
}


/* ------------------------------- */
/* MEALS */
/* ------------------------------- */

.section-meals{
    padding: 0px;
}

.meals-showcase{
    list-style: none;
    width: 100%; /* 100% of browser's width */
}

.meals-showcase li{
    display: block;
    float: left;
    width: 25%;
}

.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background: black;
}

.meal-photo img{
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
    opacity: 70%;
}

.meal-photo img:hover{
    transform: scale(1.03); /* 1.03 to avoid the white line in the bottom of the img box */
    opacity: 100%;
}